<h1>Help Page Resources</h1>
<p>
<h2> Get help on the Ruby on Rails Tutorial at the</h2>
  <a href="https://www.railstutorial.org/help">Rails Tutorial help page</a>.
<h2> To get help on this sample app, see the</h2>
  <a href="https://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
    book</a>.
</p>
